.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#warn {
    background: rgba(255, 230, 0, 0.5);
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block…
}

#ital {
    font-style: italic;
}
